@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", serify;
  box-sizing: border-box;
}

.gallery div {
  background-size: cover;
  background-position: center;
}

.recentBlog:hover div {
  border-color: transparent;
}
